html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

header.main-header {
  justify-content: space-between;
}

button.add-button {
  padding: 8px;
  background-color: #069126;
  color: #fff;
  letter-spacing: 1.25px;
  border: none;
  cursor: pointer;

  svg {
    fill: #fff;
    stroke: #fff;
  }

  &:hover {
    background: #fff;
    color: #333;
    box-shadow: 0px 0px 0px 2px #58db4c;
    svg {
      fill: #333;
      stroke: #333;
    }
  }
}

label[for="search"] {
  color: #333;
  font-size: 3rem;
  font-weight: 600;
  align-self: center;
  margin-bottom: 3rem;
}

input[type="search"] {
  height: 3.25rem;
  min-width: 35vw;
  align-self: center;
  border: none;
  opacity: 0.75;
  border-radius: 4px;
  background-image: url("../public/assets/search-icon.svg");
  background-size: 1.25rem;
  background-position: 1rem;
  background-repeat: no-repeat;
  text-indent: 2.5rem;
}

.modal {
  max-height: 85vh;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  header {
    min-height: 3rem;
  }

  form {
    width: 100%;

    input {
      height: 2rem;
    }

    .instructions-input {
      margin: 1rem 0 1rem 0;
      height: 19rem;
    }
    .measure-unit-dropdown {
      div:first-of-type {
        border-bottom: none;
      }
    }
  }
}
